<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script>
        $(document).ready(() => $('.top').css({'display': '<%= isCode %>'}));
        function inCode() {
            $.ajax({
                type: 'POST',
                url: '/api/code',
                data: {
                    code: $('#code').val()
                }
            }).done((e) => {
                console.log(e)
                if (e === 'done') return window.location.reload();
            });
        }
        function check() {
            $.ajax({
                type: 'POST',
                url: '/api/check',
                data: {}
            }).done((e) => {
                alert(e);
            });
        }
        function search() {
            window.location.href=`/${$("#searchIn").val()}`;
        }
    </script>
    <title>NOADS</title>
</head>
<body>
    <header>
        <span class="title">NOADS</span>
        <div class="bts" style="height: 100%">
            <button onclick="check()">코드 확인</button>
            <button onclick="window.location.href='/'">홈으로</button>
        </div>
    </header>
    <div class="container">
        <div class="search">
            <input id="searchIn" type="text">
            <button onclick="search()">검색</button>
        </div>
        <div class="top">
            <div class="inner">
                <p>코드를 입력해 자신이 본 회차를 기억해두세요</p>
                <small>새로운 코드를 입력시 생성됩니다</small>
                <div class="in">
                    <input id="code" spellcheck="false"  type="text">
                    <button onclick="inCode()">입력</button>
                </div>
            </div>
        </div>
        <div class="view">
            <ul>
                <% for (let i = 0; i < follow.length; i++) { %>
                    <li style="background-image: url('<%= follow[i].img %>');" onclick="window.location.href='/<%= follow[i].title %>'">
                        <span><%= follow[i].title %></span>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <!--js-->
    <script>
        $("#code").keydown(e => {
            if (e.keyCode == 13) inCode();
        });
        $("#searchIn").keydown(e => {
            if (e.keyCode == 13) search();
        });
    </script>
</body>
</html>