<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>NOADS</title>
</head>
<body>
    <header>
        <span class="title">NOADS</span>
        <button onclick="window.location.href='/'">홈으로</button>
    </header>
    <div class="container">
        <div class="view">
            <ul>
                <% for (let i = 0; i < data.length; i++) { %>
                    <li onclick="window.open().location.href='/<%= data[i].name %>'">
                        <img src="<%= data[i].img %>" alt="">
                        <span><%= data[i].name %> / <%= data[i].lastEpi %>화</span>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="footer">
        본 홈페이지는 툰코의 광고 제거를 위해 만들어졌습니다.
    </div>
</body>
</html>